osi_basic-master/.errors.s.un\~
osi_basic-master/.libsd.s.un\~ n·
osi_basic-master/.osi_bas.s.swj 
osi_basic-master/.osi_bas.s.swk 
osi_basic-master/.osi_bas.s.swl 
osi_basic-master/.osi_bas.s.swm 
osi_basic-master/.osi_bas.s.swn 
osi_basic-master/.osi_bas.s.swo 
osi_basic-master/.libacia.s.un\~ 
osi_basic-master/.libtape.s.un\~ 
osi_basic-master/.osi_bas.s.un\~ 
osi_basic-master/.NEWUNFIN.s.un\~ 
osi_basic-master/.libfat32.s.un\~ 
osi_basic-master/.savetest.s.un\~ 
osi_basic-master/.osi_bas\ -\ Copy.s.swp 
osi_basic-master/.osi_bas\ -\ Copy.s.un\~
xa/a.o65 
xa/final.BIN
xa/PREV.BIN 
xa/ROM.BIN 
xa/sysmon.bin 
xa/xpl.BIN 
xa/xpl.lst
